/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #343A40;
    background-color: #F5F5F5;
}
.wrapper {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto; 
}

/* header styles start*/
.header {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding: 8px 20px 8px 0;
    margin: 8px 0;
}
.nav {
    margin-left: 23px;
    margin-right: auto;
    display: flex;
}
.nav__link {
    margin-right: 35px;
    text-decoration: none;
    color: #828282;
    border-bottom: 2px solid transparent;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
    border-bottom: 2px solid #C4C4C4;
}
.header__search {
    display: flex;
}
.search__field {
    width: 257px;
    height: 36px;
    color: #6C757D;
    padding-left: 12px;
    border: 1px solid #CED4DA;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.search__button {
    background: url(/figma-test-1/assets/svg/Icon-search.svg) no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    border: 1px solid #CED4DA;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

input:focus {
    outline: none;
}
/* header styles end*/

/* main styles start*/
.breadcrumb__list {
    display: flex;
    list-style: none;
    padding: 30px 0 0 0;
    margin: 0;
}
.breadcrumb__link {
    color: #4F4F4F;
    margin-right: 15px;
    text-decoration: none;
}
.breadcrumb__link::after {
    content: "/";
    margin-left: 8px;
}
.breadcrumb__link:last-child:after {
    content: none;
    margin-left: 0;
}
.breadcrumb__link:hover,
.breadcrumb__link:focus {
    color: #6C757D;
}
.catalog__title {
    margin: 30px 0 25px 0;
    font-size: 40px;
    font-weight: 500;
}
.catalog__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog__item {
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 20px 20px 17px 20px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
.cat-item__img{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.cat-item__body {
    flex-grow: 1;
}
.cat-item__link {
    text-decoration: none;
}
.cat-item__title {
    color: #212529;
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 500;
}
.cat-item__text {
    color: #212529;
    line-height: 24px;
    text-decoration: none;
    margin: 0 0 24px 0;
}
.cat-item__button {
    color: #6C757D;
    background-color: #FFFFFF;
    border: 1px solid #6C757D;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    height: 36px;
    /* padding: 6px 12px; */
}
/* main styles end*/
.wrapper__footer {
    height: 220px;
}